body {
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
  min-height: 100vh;
  margin: 0; 
}

.cuadrado{
    width: 300px;
    height: 300px;
    align-items: center;
    align-content: center;
    text-align: center;
}